snippet for "for loop" b
for ${1:index} = ${2:start}:${3:stop}
	$0
end
endsnippet

snippet if "if statement" b
if $1
	$0
end
endsnippet

snippet func "define a function"
function ${1:output} = ${2:function name}(${3:args})
	$0
endsnippet
